body {
    font-family: sans-serif;
background-color: azure;
}
.imgs {
    display: flex;
    
}

footer {
    background-color: cadetblue;
    margin: 20px;
    
} 
header{
    background-color: cadetblue;
}
P{
    background-color: darkcyan;
}
